<!doctype html>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CARTELERA CINEMATOGRAFICA - Avatar el camino del agua</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
crossorigin="anonymous"></script>
<link rel="stylesheet" href="../CSS/framework.css">

</head>

<body class="background">

    <main>
        <div class="container py-4">
            <header class="pb-3 mb-4 rounded-3 bg-light">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="../index.html">CARTELERA CINEMATOGRAFICA</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Más recientes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </header>

           

            <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Avatar el camino del agua</h1>

                    <div class="row">
                        <div class="col-9">
                            <p class="fs-4 text-justify">Más de una década después de los acontecimientos de 'Avatar', los Na'vi Jake Sully, Neytiri y sus hijos viven en paz en los bosques de Pandora hasta que regresan los hombres del cielo. Entonces comienzan los problemas que persiguen sin descanso a la familia Sully, que decide hacer un gran sacrificio para mantener a su pueblo a salvo y seguir ellos con vida.</p>                    
                        </div>
                        
                        <div class="col-md-3 col-sm-12">
                            <img src="../IMG/avatar.jpg" width="200px" height="267px" alt="" class="img-fluid rounded-3 poster">
                        </div>
                    </div>
                </div>                
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6 mb-2">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                        <h2>Trailer</h2>
                        <iframe width="450" height="272" src="https://www.youtube.com/embed/96d3jsVWnOE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="trailer"></iframe>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2>Reparto</h2>
                        <p>Sam Worthington, Zoe Saldana, Sigourney Weaver, Kate Winslet, Stephen Lang, Cliff Curtis, Joel David Moore, Giovanni Ribisi, Edie Falco, CCH Pounder, Jemaine Clement, Brendan Cowell, Jamie Flatters, Britain Dalton, Trinity Jo-Li Bliss, Jack Champion, Bailey Bass, Filip Geljo, Duane Wichman-Evans, Dileep Rao, Matt Gerald, Keston John, Alicia Vela-Bailey, Sean Anthony Moran, Andrew Arrabito, Johnny Alexander</p>                        
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent">Año: 2022</li>
                            <li class="list-group-item bg-transparent">Duración: 192 minutos</li>
                            <li class="list-group-item bg-transparent">País: Estados unidos</li>
                            <li class="list-group-item bg-transparent">Dirección: James Cameron</li>
                            <li class="list-group-item bg-transparent">Guion: James Cameron, Rick Jaffa, Amanda Silver. Historia: James Cameron, Rick Jaffa, Amanda Silver, Josh Friedman, Shane Salerno</li>                            
                          </ul>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent">Música: Simon Franglen</li>
                            <li class="list-group-item bg-transparent">Compañías: 20th Century Studios, Lightstorm Entertainment, TSG Entertainment. Productor: James Cameron. Distribuidora: Walt Disney Pictures</li>
                            <li class="list-group-item bg-transparent">Género: Ciencia ficción. Aventuras. Fantástico. Acción | Familia. Extraterrestres. Secuela. 3-D</li>
                          </ul>
                    </div>
                </div>
              
                <div class="col-md-12">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2>Imagenes</h2>
                        <div class="row">

                            <div class="col-md-4 col-sm-12">
                                <img src="../IMG/avatar-1.jpg" class="img-fluid img-thumbnail " alt="">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <img src="../IMG/avatar-2.jpg" class="img-fluid img-thumbnail" alt="">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <img src="../IMG/avatar-3.jpg" class="img-fluid img-thumbnail" alt="">
                            </div> 
                        </div> 
                        
                    </div>
                </div>
                <section class="form-register">
                    <h4>Comentarios</h4>
                    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">               
                    <textarea class="controls" id="story" name="story"rows="5" cols="33"></textarea>
                    <a href="#">Publicar</a>
                </section>  
            </div>

            <footer class="pt-3 mt-4 text-body-secondary border-top">
                &copy; 2023 - Ucompensar Grupo J
            </footer>
        </div>
    </main>

    

</body>

</html>